<div class="container">
  <div class="d-flex row justify-content-center" style="
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: baseline;">
    <div class="col-md-4 text-center">
      <div class="footer-site-logo">
        <a class="border-0" href="{{ site.url }}">
          {% include logo.html %}
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <ul class="list-unstyled nav-links">
        <li><a class="border-0" href="/">Home</a></li>
        <li><a class="border-0" href="/docs">Docs</a></li>
        <li><a class="border-0" href="/sitemap.xml">Sitemap</a></li>
        <li><a class="border-0" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <div class="social d-flex"
        style="flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;align-items: baseline;">
        <!-- <h3>Stay in touch</h3> -->
        <ul class="list-unstyled">
          <li class="in"><a class="border-0" href="https://www.linkedin.com/company/lethaldfir"><span
                class="fab fa-linkedin-in"></span></a></li>
          <li class="fb"><a class="border-0" href="https://facebook.com/lethaldfir"><span
                class="fab fa-facebook-f"></span></a></li>
          <li class="tw"><a class="border-0" href="https://twitter.com/LethalDFIR"><span
                class="fab fa-twitter"></span></a></li>
          <li class="re"><a class="border-0" href="https://www.reddit.com/r/lethaldfir/"><span
                class="fab fa-reddit-alien"></span></a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="copyright text-center">
    <p><small>&copy; Lethal DFIR. All Rights Reserved.</small></p>
  </div>
</div>
</div>